In [144]:
import pandas as pd
import numpy as np
import os
import datetime
from dateutil.parser import parse

In [30]:
mpath = os.getcwd()
path = mpath+'/DAS output'
files = os.listdir(path)

In [69]:
cols = []
df = pd.DataFrame()
for f in files:
    if 'pivot' not in f:
        df1 = pd.read_csv(path+'/'+f)
        df = pd.concat([df,df1],axis=0)

In [50]:
df.to_csv('MetaPointsRaw.csv')

In [70]:
print(len(df))
df = df.drop_duplicates()
print(len(df))

8415314
8347020

In [99]:
df = df.query("name!='Module 07 - Status Codes - Max / Min Cell Voltage Location'")

In [72]:
df.loc[:,'first'] = df['name'].apply(lambda x: x.split('-')[0].strip())

In [91]:
df['second']=df['first'].apply(lambda x: x.split(' ')[0])

In [113]:
dfmod = df[df['second']=='Module']

In [116]:
dfmod.loc[:,'point']=dfmod['name'].apply(lambda x: x.split('-')[2].strip())

In [130]:
dfmod = dfmod.reset_index()

In [137]:
dfmod.pivot(columns='point',values='value')

point,Average Cell Temperature,Max Cell Temperature,Min Cell Temperature,Rack Number
0,18.0,NaN,NaN,NaN
1,18.7,NaN,NaN,NaN
2,18.2,NaN,NaN,NaN
3,19.0,NaN,NaN,NaN
4,18.2,NaN,NaN,NaN
...,...,...,...,...
7960641,17.2,NaN,NaN,NaN
7960642,17.5,NaN,NaN,NaN
7960643,18.2,NaN,NaN,NaN
7960644,18.5,NaN,NaN,NaN
7960645,18.0,NaN,NaN,NaN

In [163]:
test =dfmod['timestamp'].values
test1 = []
for d in test:
    test1.append(parse(d))

In [164]:
dfmod['time']=test1

In [171]:
dfmod.reset_index(drop=True,inplace=True)
dfmod.drop(columns=['level_0','index'],inplace=True)

,xid,dataSourceName,deviceName,name,timestamp,value,rendered,first,second,point,time
0,BallaratAR_DP_10db3ac3-3742-4998-bfbf-4a7cb6ec...,Ballarat Array,Core 03 Node 01 BMS,Module 01 - Analogs - Average Cell Temperature,2020-05-01T21:00:00.000-04:00,18.0,18.0 °C,Module 01,Module,Average Cell Temperature,2020-05-01 21:00:00-04:00
1,BallaratAR_DP_10db3ac3-3742-4998-bfbf-4a7cb6ec...,Ballarat Array,Core 03 Node 01 BMS,Module 01 - Analogs - Average Cell Temperature,2020-05-01T21:00:06.000-04:00,18.7,18.7 °C,Module 01,Module,Average Cell Temperature,2020-05-01 21:00:06-04:00
2,BallaratAR_DP_10db3ac3-3742-4998-bfbf-4a7cb6ec...,Ballarat Array,Core 03 Node 01 BMS,Module 01 - Analogs - Average Cell Temperature,2020-05-01T21:00:16.000-04:00,18.2,18.2 °C,Module 01,Module,Average Cell Temperature,2020-05-01 21:00:16-04:00
3,BallaratAR_DP_10db3ac3-3742-4998-bfbf-4a7cb6ec...,Ballarat Array,Core 03 Node 01 BMS,Module 01 - Analogs - Average Cell Temperature,2020-05-01T21:00:26.000-04:00,19.0,19.0 °C,Module 01,Module,Average Cell Temperature,2020-05-01 21:00:26-04:00
4,BallaratAR_DP_10db3ac3-3742-4998-bfbf-4a7cb6ec...,Ballarat Array,Core 03 Node 01 BMS,Module 01 - Analogs - Average Cell Temperature,2020-05-01T21:00:36.000-04:00,18.2,18.2 °C,Module 01,Module,Average Cell Temperature,2020-05-01 21:00:36-04:00

In [181]:
dfmod['core']=dfmod['deviceName'].apply(lambda x: x[0:7])

In [184]:
bla = dfmod[(dfmod['core']=='Core 03')&(dfmod['first']=='Module 01')]

In [190]:
dfmod.pivot_table(index=['time','core','first'],columns='point',values='value').reset_index()

point,time,core,first,Average Cell Temperature,Max Cell Temperature,Min Cell Temperature,Rack Number
0,2020-05-01 00:00:00-04:00,Core 03,Module 01,18.5,18.5,18.5,7.0
1,2020-05-01 00:00:00-04:00,Core 03,Module 02,19.5,19.5,19.5,7.0
2,2020-05-01 00:00:00-04:00,Core 03,Module 03,20.0,20.0,20.0,7.0
3,2020-05-01 00:00:00-04:00,Core 03,Module 04,21.0,21.0,21.0,7.0
4,2020-05-01 00:00:00-04:00,Core 03,Module 05,21.5,22.0,21.5,7.0
...,...,...,...,...,...,...,...
2912498,2020-06-02 18:00:00-04:00,Core 04,Module 13,27.0,27.0,27.0,15.0
2912499,2020-06-02 18:00:00-04:00,Core 04,Module 14,NaN,27.0,27.0,15.0
2912500,2020-06-02 18:00:00-04:00,Core 04,Module 15,27.0,27.0,27.0,15.0
2912501,2020-06-02 18:00:00-04:00,Core 04,Module 16,26.7,27.0,26.5,15.0
2912502,2020-06-02 18:00:00-04:00,Core 04,Module 17,26.7,27.0,26.5,15.0

In [191]:
df['second'].unique()

array(['Module', 'Current', 'HVAC'], dtype=object)

In [193]:
dfcurr = df[df['second']=='Current']

In [196]:
test =dfcurr['timestamp'].values
test1 = []
for d in test:
    test1.append(parse(d))
dfcurr['time']=test1

/Users/alejandrajolodosky/.asdf/installs/python/3.7.7/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [206]:
for f in dfcurr['first'].unique():
    print(f.split(' ')[1],f.split(' ')[3])

Humidity 1
Humidity 2
Temperature 1
Temperature 2
Temperature 3
Temperature 4
Temperature 5
Temperature 6
Temperature 7
Temperature 8

In [201]:
dfcurr.pivot_table(index='time',columns='first',values='value')

first,Current Humidity # 1,Current Humidity # 2,Current Temperature # 1,Current Temperature # 2,Current Temperature # 3,Current Temperature # 4,Current Temperature # 5,Current Temperature # 6,Current Temperature # 7,Current Temperature # 8
time,,,,,,,,,,
2020-05-01 00:00:00-04:00,32.6,39.5,22.6,19.8,21.3,25.8,21.7,23.8,23.3,23.5
2020-05-01 00:00:02-04:00,32.5,NaN,22.7,NaN,NaN,NaN,NaN,NaN,NaN,23.4
2020-05-01 00:00:02.093000-04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.3,NaN
2020-05-01 00:00:04-04:00,32.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-05-01 00:00:06-04:00,32.5,NaN,22.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2020-05-03 23:59:54-04:00,NaN,NaN,NaN,NaN,NaN,22.3,NaN,NaN,NaN,NaN
2020-05-03 23:59:56-04:00,41.1,NaN,NaN,NaN,19.5,NaN,20.5,NaN,NaN,NaN
2020-05-03 23:59:56.076000-04:00,NaN,NaN,NaN,20.7,NaN,NaN,NaN,22.8,NaN,NaN
2020-05-03 23:59:58-04:00,41.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-05-04 00:00:00-04:00,41.2,45.6,22.0,20.7,19.5,22.3,20.5,22.8,23.0,22.9

In [200]:
dfcurr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 182159 entries, 0 to 15056
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   xid             182159 non-null  object
 1   dataSourceName  182159 non-null  object
 2   deviceName      182159 non-null  object
 3   name            182159 non-null  object
 4   timestamp       182159 non-null  object
 5   value           182159 non-null  float64
 6   rendered        182159 non-null  object
 7   first           182159 non-null  object
 8   second          182159 non-null  object
 9   point           0 non-null       float64
 10  time            182159 non-null  datetime64[ns, tzoffset(None, -14400)]
dtypes: datetime64[ns, tzoffset(None, -14400)](1), float64(2), object(8)
memory usage: 16.7+ MB

In [ ]:
blah = dfmod[['date','']]

In [168]:
dfmod.head()

,level_0,index,xid,dataSourceName,deviceName,name,timestamp,value,rendered,first,second,point,time
0,0,0,BallaratAR_DP_10db3ac3-3742-4998-bfbf-4a7cb6ec...,Ballarat Array,Core 03 Node 01 BMS,Module 01 - Analogs - Average Cell Temperature,2020-05-01T21:00:00.000-04:00,18.0,18.0 °C,Module 01,Module,Average Cell Temperature,2020-05-01 21:00:00-04:00
1,1,1,BallaratAR_DP_10db3ac3-3742-4998-bfbf-4a7cb6ec...,Ballarat Array,Core 03 Node 01 BMS,Module 01 - Analogs - Average Cell Temperature,2020-05-01T21:00:06.000-04:00,18.7,18.7 °C,Module 01,Module,Average Cell Temperature,2020-05-01 21:00:06-04:00
2,2,2,BallaratAR_DP_10db3ac3-3742-4998-bfbf-4a7cb6ec...,Ballarat Array,Core 03 Node 01 BMS,Module 01 - Analogs - Average Cell Temperature,2020-05-01T21:00:16.000-04:00,18.2,18.2 °C,Module 01,Module,Average Cell Temperature,2020-05-01 21:00:16-04:00
3,3,3,BallaratAR_DP_10db3ac3-3742-4998-bfbf-4a7cb6ec...,Ballarat Array,Core 03 Node 01 BMS,Module 01 - Analogs - Average Cell Temperature,2020-05-01T21:00:26.000-04:00,19.0,19.0 °C,Module 01,Module,Average Cell Temperature,2020-05-01 21:00:26-04:00
4,4,4,BallaratAR_DP_10db3ac3-3742-4998-bfbf-4a7cb6ec...,Ballarat Array,Core 03 Node 01 BMS,Module 01 - Analogs - Average Cell Temperature,2020-05-01T21:00:36.000-04:00,18.2,18.2 °C,Module 01,Module,Average Cell Temperature,2020-05-01 21:00:36-04:00

In [151]:
%time parse(d)

CPU times: user 237 µs, sys: 4 µs, total: 241 µs
Wall time: 251 µs

datetime.datetime(2020, 5, 1, 23, 46, 34, tzinfo=tzoffset(None, -14400))

In [162]:
(len(test)*251/10e6)/60

3.330203576666667

In [159]:
%time pd.to_datetime(d)

CPU times: user 326 µs, sys: 12 µs, total: 338 µs
Wall time: 332 µs

Timestamp('2020-05-01 23:46:34-0400', tz='pytz.FixedOffset(-240)')

In [111]:
for d in df[df['point']==3]['name'].unique():
    print(d.split('-')[2])

 Average Cell Temperature
 Max Cell Temperature
 Min Cell Temperature
 Rack Number
 Average Cell Temperature
 Max Cell Temperature
 Min Cell Temperature
 Rack Number
 Average Cell Temperature
 Max Cell Temperature
 Min Cell Temperature
 Rack Number
 Average Cell Temperature
 Max Cell Temperature
 Min Cell Temperature
 Rack Number
 Average Cell Temperature
 Max Cell Temperature
 Min Cell Temperature
 Rack Number
 Average Cell Temperature
 Max Cell Temperature
 Min Cell Temperature
 Rack Number
 Average Cell Temperature
 Max Cell Temperature
 Min Cell Temperature
 Rack Number
 Average Cell Temperature
 Max Cell Temperature
 Min Cell Temperature
 Rack Number
 Average Cell Temperature
 Max Cell Temperature
 Min Cell Temperature
 Rack Number
 Average Cell Temperature
 Max Cell Temperature
 Min Cell Temperature
 Rack Number
 Average Cell Temperature
 Max Cell Temperature
 Min Cell Temperature
 Rack Number
 Average Cell Temperature
 Max Cell Temperature
 Min Cell Temperature
 Rack Number
 Average Cell Temperature
 Max Cell Temperature
 Min Cell Temperature
 Rack Number
 Average Cell Temperature
 Max Cell Temperature
 Rack Number
 Average Cell Temperature
 Max Cell Temperature
 Min Cell Temperature
 Rack Number
 Average Cell Temperature
 Max Cell Temperature
 Min Cell Temperature
 Rack Number
 Average Cell Temperature
 Max Cell Temperature
 Min Cell Temperature
 Rack Number
 Min Cell Temperature

In [90]:
for n in df['first'].unique():
    print(n.split(' '))

['Module', '01']
['Module', '02']
['Module', '03']
['Module', '04']
['Module', '05']
['Module', '06']
['Module', '07']
['Module', '08']
['Module', '09']
['Module', '10']
['Module', '11']
['Module', '12']
['Module', '13']
['Module', '14']
['Module', '15']
['Module', '16']
['Module', '17']
['Current', 'Humidity', '#', '1']
['Current', 'Humidity', '#', '2']
['Current', 'Temperature', '#', '1']
['Current', 'Temperature', '#', '2']
['Current', 'Temperature', '#', '3']
['Current', 'Temperature', '#', '4']
['Current', 'Temperature', '#', '5']
['Current', 'Temperature', '#', '6']
['Current', 'Temperature', '#', '7']
['Current', 'Temperature', '#', '8']
['HVAC', '#', '1', 'Cooling', '1']
['HVAC', '#', '1', 'Cooling', '2']
['HVAC', '#', '2', 'Cooling', '1']
['HVAC', '#', '2', 'Cooling', '2']
['HVAC', '#', '1', 'Current', 'Humidity']
['HVAC', '#', '1', 'Current', 'Temperature']
['HVAC', '#', '2', 'Current', 'Temperature']
['HVAC', '#', '2', 'Current', 'Humidity']

In [84]:
df.iloc[1]['name'].split(',')[2].strip()

IndexError: list index out of range

In [87]:
df

,xid,dataSourceName,deviceName,name,timestamp,value,rendered,first,second
0,BallaratAR_DP_10db3ac3-3742-4998-bfbf-4a7cb6ec...,Ballarat Array,Core 03 Node 01 BMS,Module 01 - Analogs - Average Cell Temperature,2020-05-01T21:00:00.000-04:00,18.0,18.0 °C,Module 01,[Module 01]
1,BallaratAR_DP_10db3ac3-3742-4998-bfbf-4a7cb6ec...,Ballarat Array,Core 03 Node 01 BMS,Module 01 - Analogs - Average Cell Temperature,2020-05-01T21:00:06.000-04:00,18.7,18.7 °C,Module 01,[Module 01]
2,BallaratAR_DP_10db3ac3-3742-4998-bfbf-4a7cb6ec...,Ballarat Array,Core 03 Node 01 BMS,Module 01 - Analogs - Average Cell Temperature,2020-05-01T21:00:16.000-04:00,18.2,18.2 °C,Module 01,[Module 01]
3,BallaratAR_DP_10db3ac3-3742-4998-bfbf-4a7cb6ec...,Ballarat Array,Core 03 Node 01 BMS,Module 01 - Analogs - Average Cell Temperature,2020-05-01T21:00:26.000-04:00,19.0,19.0 °C,Module 01,[Module 01]
4,BallaratAR_DP_10db3ac3-3742-4998-bfbf-4a7cb6ec...,Ballarat Array,Core 03 Node 01 BMS,Module 01 - Analogs - Average Cell Temperature,2020-05-01T21:00:36.000-04:00,18.2,18.2 °C,Module 01,[Module 01]
...,...,...,...,...,...,...,...,...,...
215707,BallaratAR_DP_d7c51b87-f6fa-49d7-afc7-dc92bcc7...,Ballarat Array,Core 03 Node 01 BMS,Module 07 - Status Codes - Max / Min Cell Volt...,2020-05-03T11:59:36.000-04:00,3079.0,"3,079",Module 07,[Module 07]
215708,BallaratAR_DP_d7c51b87-f6fa-49d7-afc7-dc92bcc7...,Ballarat Array,Core 03 Node 01 BMS,Module 07 - Status Codes - Max / Min Cell Volt...,2020-05-03T11:59:42.000-04:00,2823.0,"2,823",Module 07,[Module 07]
215709,BallaratAR_DP_d7c51b87-f6fa-49d7-afc7-dc92bcc7...,Ballarat Array,Core 03 Node 01 BMS,Module 07 - Status Codes - Max / Min Cell Volt...,2020-05-03T11:59:46.000-04:00,1795.0,"1,795",Module 07,[Module 07]
215710,BallaratAR_DP_d7c51b87-f6fa-49d7-afc7-dc92bcc7...,Ballarat Array,Core 03 Node 01 BMS,Module 07 - Status Codes - Max / Min Cell Volt...,2020-05-03T11:59:52.000-04:00,2052.0,"2,052",Module 07,[Module 07]
215711,BallaratAR_DP_d7c51b87-f6fa-49d7-afc7-dc92bcc7...,Ballarat Array,Core 03 Node 01 BMS,Module 07 - Status Codes - Max / Min Cell Volt...,2020-05-03T11:59:58.000-04:00,3085.0,"3,085",Module 07,[Module 07]

In [67]:
df.name.unique()

array(['Module 01 - Analogs - Average Cell Temperature',
       'Module 01 - Analogs - Max Cell Temperature',
       'Module 01 - Analogs - Min Cell Temperature',
       'Module 01 - Analogs - Rack Number',
       'Module 02 - Analogs - Average Cell Temperature',
       'Module 02 - Analogs - Max Cell Temperature',
       'Module 02 - Analogs - Min Cell Temperature',
       'Module 02 - Analogs - Rack Number',
       'Module 03 - Analogs - Average Cell Temperature',
       'Module 03 - Analogs - Max Cell Temperature',
       'Module 03 - Analogs - Min Cell Temperature',
       'Module 03 - Analogs - Rack Number',
       'Module 04 - Analogs - Average Cell Temperature',
       'Module 04 - Analogs - Max Cell Temperature',
       'Module 04 - Analogs - Min Cell Temperature',
       'Module 04 - Analogs - Rack Number',
       'Module 05 - Analogs - Average Cell Temperature',
       'Module 05 - Analogs - Max Cell Temperature',
       'Module 05 - Analogs - Min Cell Temperature',
       'Module 05 - Analogs - Rack Number',
       'Module 06 - Analogs - Average Cell Temperature',
       'Module 06 - Analogs - Max Cell Temperature',
       'Module 06 - Analogs - Min Cell Temperature',
       'Module 06 - Analogs - Rack Number',
       'Module 07 - Analogs - Average Cell Temperature',
       'Module 07 - Analogs - Max Cell Temperature',
       'Module 07 - Analogs - Min Cell Temperature',
       'Module 07 - Analogs - Rack Number',
       'Module 08 - Analogs - Average Cell Temperature',
       'Module 08 - Analogs - Max Cell Temperature',
       'Module 08 - Analogs - Min Cell Temperature',
       'Module 08 - Analogs - Rack Number',
       'Module 09 - Analogs - Average Cell Temperature',
       'Module 09 - Analogs - Max Cell Temperature',
       'Module 09 - Analogs - Min Cell Temperature',
       'Module 09 - Analogs - Rack Number',
       'Module 10 - Analogs - Average Cell Temperature',
       'Module 10 - Analogs - Max Cell Temperature',
       'Module 10 - Analogs - Min Cell Temperature',
       'Module 10 - Analogs - Rack Number',
       'Module 11 - Analogs - Average Cell Temperature',
       'Module 11 - Analogs - Max Cell Temperature',
       'Module 11 - Analogs - Min Cell Temperature',
       'Module 11 - Analogs - Rack Number',
       'Module 12 - Analogs - Average Cell Temperature',
       'Module 12 - Analogs - Max Cell Temperature',
       'Module 12 - Analogs - Min Cell Temperature',
       'Module 12 - Analogs - Rack Number',
       'Module 13 - Analogs - Average Cell Temperature',
       'Module 13 - Analogs - Max Cell Temperature',
       'Module 13 - Analogs - Min Cell Temperature',
       'Module 13 - Analogs - Rack Number',
       'Module 14 - Analogs - Average Cell Temperature',
       'Module 14 - Analogs - Max Cell Temperature',
       'Module 14 - Analogs - Rack Number',
       'Module 15 - Analogs - Average Cell Temperature',
       'Module 15 - Analogs - Max Cell Temperature',
       'Module 15 - Analogs - Min Cell Temperature',
       'Module 15 - Analogs - Rack Number',
       'Module 16 - Analogs - Average Cell Temperature',
       'Module 16 - Analogs - Max Cell Temperature',
       'Module 16 - Analogs - Min Cell Temperature',
       'Module 16 - Analogs - Rack Number',
       'Module 17 - Analogs - Average Cell Temperature',
       'Module 17 - Analogs - Max Cell Temperature',
       'Module 17 - Analogs - Min Cell Temperature',
       'Module 17 - Analogs - Rack Number', 'Current Humidity # 1',
       'Current Humidity # 2', 'Current Temperature # 1',
       'Current Temperature # 2', 'Current Temperature # 3',
       'Current Temperature # 4', 'Current Temperature # 5',
       'Current Temperature # 6', 'Current Temperature # 7',
       'Current Temperature # 8', 'HVAC # 1 Cooling 1',
       'HVAC # 1 Cooling 2', 'HVAC # 2 Cooling 1', 'HVAC # 2 Cooling 2',
       'Module 07 - Status Codes - Max / Min Cell Voltage Location',
       'HVAC # 1 Current Humidity', 'HVAC # 1 Current Temperature',
       'HVAC # 2 Current Temperature', 'HVAC # 2 Current Humidity',
       'Module 14 - Analogs - Min Cell Temperature'], dtype=object)

In [53]:
df.pivot(index='timestamp', columns='name', values='value')

ValueError: Index contains duplicate entries, cannot reshape

In [63]:
df

,xid,dataSourceName,deviceName,name,timestamp,value,rendered,module
0,BallaratAR_DP_10db3ac3-3742-4998-bfbf-4a7cb6ec...,Ballarat Array,Core 03 Node 01 BMS,Module 01 - Analogs - Average Cell Temperature,2020-05-01T21:00:00.000-04:00,18.0,18.0 °C,Module 01
1,BallaratAR_DP_10db3ac3-3742-4998-bfbf-4a7cb6ec...,Ballarat Array,Core 03 Node 01 BMS,Module 01 - Analogs - Average Cell Temperature,2020-05-01T21:00:06.000-04:00,18.7,18.7 °C,Module 01
2,BallaratAR_DP_10db3ac3-3742-4998-bfbf-4a7cb6ec...,Ballarat Array,Core 03 Node 01 BMS,Module 01 - Analogs - Average Cell Temperature,2020-05-01T21:00:16.000-04:00,18.2,18.2 °C,Module 01
3,BallaratAR_DP_10db3ac3-3742-4998-bfbf-4a7cb6ec...,Ballarat Array,Core 03 Node 01 BMS,Module 01 - Analogs - Average Cell Temperature,2020-05-01T21:00:26.000-04:00,19.0,19.0 °C,Module 01
4,BallaratAR_DP_10db3ac3-3742-4998-bfbf-4a7cb6ec...,Ballarat Array,Core 03 Node 01 BMS,Module 01 - Analogs - Average Cell Temperature,2020-05-01T21:00:36.000-04:00,18.2,18.2 °C,Module 01
...,...,...,...,...,...,...,...,...
215707,BallaratAR_DP_d7c51b87-f6fa-49d7-afc7-dc92bcc7...,Ballarat Array,Core 03 Node 01 BMS,Module 07 - Status Codes - Max / Min Cell Volt...,2020-05-03T11:59:36.000-04:00,3079.0,"3,079",Module 07
215708,BallaratAR_DP_d7c51b87-f6fa-49d7-afc7-dc92bcc7...,Ballarat Array,Core 03 Node 01 BMS,Module 07 - Status Codes - Max / Min Cell Volt...,2020-05-03T11:59:42.000-04:00,2823.0,"2,823",Module 07
215709,BallaratAR_DP_d7c51b87-f6fa-49d7-afc7-dc92bcc7...,Ballarat Array,Core 03 Node 01 BMS,Module 07 - Status Codes - Max / Min Cell Volt...,2020-05-03T11:59:46.000-04:00,1795.0,"1,795",Module 07
215710,BallaratAR_DP_d7c51b87-f6fa-49d7-afc7-dc92bcc7...,Ballarat Array,Core 03 Node 01 BMS,Module 07 - Status Codes - Max / Min Cell Volt...,2020-05-03T11:59:52.000-04:00,2052.0,"2,052",Module 07
215711,BallaratAR_DP_d7c51b87-f6fa-49d7-afc7-dc92bcc7...,Ballarat Array,Core 03 Node 01 BMS,Module 07 - Status Codes - Max / Min Cell Volt...,2020-05-03T11:59:58.000-04:00,3085.0,"3,085",Module 07